.puzzle-wrapper{
    /*position: absolute;*/
    left: 0;
    right: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    /*width: 800px;*/
}
canvas {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

/*body {
  background: white;    
}
*/
@media screen and (min-width: 980px) /* Desktop */ {}

@media screen  and (max-width: 979px) /* Tablet */ {}

@media screen and (max-width: 500px) /* Mobile */ {}
